<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>

<div class="container">
    <form method="post">

        <div class="row">
            <div class="six columns">
                <label for="cheeseNameInput">Name</label>
                <input class="u-full-width" type="text" name="cheeseName" id="cheeseNameInput"/>
            </div>
            <div class="six columns">
                <label for="cheeseDescriptionInput">Description</label>
                <input class="u-full-width" type="text" name="description" id="cheeseDescriptionInput"/>
            </div>
            <input class="button-primary" type="submit" value="Add Cheese"/>

        </div>
    </form>
</div>

</body>
</html>