<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<nav th:replace="fragments :: title"></nav>
<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <div class="row">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Delete Link</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cheese : ${cheeses}">
                <td th:text="${cheese.key}"></td>
                <td th:text="${cheese.value}"></td>
                <!-- It's not good practice to hard code links in such a manner, consider what would happen if -->
                <!-- you deployed this application to a web server, localhost would not be valid. -->
                <!-- To overcome this, you would need to use your model to provide your url -->
                <td><a th:href="${'http://localhost:8080/cheese/delete/' + cheese.key}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>